@using System.Dynamic
@model IEnumerable<ExpandoObject>

<p>
    @Html.ActionLink("Dodaj nową książkę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tytuł
        </th>
        <th>
            Autor
        </th>
        <th>
            Liczba stron
        </th>
        <th>
            ISBN
        </th>
        <th></th>
    </tr>

@foreach (dynamic item in Model) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Author
        </td>
        <td>
            @item.PageCount
        </td>
        <td>
            @item.ISBN
        </td>
        <td>
            @Html.ActionLink("Edytuj pozycję", "Edit", new { id=item.id }) |
            @Html.ActionLink("Usuń pozycję", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
