@{
    ViewBag.Title = "Projekt DocumentDB";
}
@model Kip.Models.BaseCollections

<div class="jumbotron">
    <h1>Kip</h1>
    <p class="lead">System do zarzadzania publikacjami</p>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                @Html.ActionLink("Książki", "Index", "Book", null,  new {@class = "list-group-item"})
                @Html.ActionLink("Ebooki", "Index", "Home", null, new { @class = "list-group-item" })
                @Html.ActionLink("Gry video", "Index", "Home", null, new { @class = "list-group-item" })
                @Html.ActionLink("Czasopisma", "Index", "Home", null, new { @class = "list-group-item" })
                @Html.ActionLink("Filmy", "Index", "Home", null, new { @class = "list-group-item" })
                @Html.ActionLink("Muzyka", "Index", "Home", null, new { @class = "list-group-item" })
            </div>
        </div>

        <div class="col-md-9">
            @Html.Partial("Book", Model.Books)

        </div>
    </div>
</div>