@{
    ViewBag.Title = "Projekt DocumentDB";
}


<div class="jumbotron">
    <h1>Kip</h1>
    <p class="lead">System do zarzadzania publikacjami</p>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                @Ajax.ActionLink("Książki", "GetCollection", new {type = "Book"}, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "collection-container"}, new { @class = "list-group-item" })
                @Ajax.ActionLink("Ebooki", "GetCollection", new { type = "EBook" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "collection-container" }, new { @class = "list-group-item" })
                @Ajax.ActionLink("Gry video", "GetCollection", new { type = "GameDisc" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "collection-container" }, new { @class = "list-group-item" })
                @Ajax.ActionLink("Czasopisma", "GetCollection", new { type = "Magazine" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "collection-container" }, new { @class = "list-group-item" })
                @Ajax.ActionLink("Filmy", "GetCollection", new { type = "MovieDvd" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "collection-container" }, new { @class = "list-group-item" })
                @Ajax.ActionLink("Muzyka", "GetCollection", new { type = "MusicCd" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "collection-container" }, new { @class = "list-group-item" })
            </div>
        </div>

        <div class="col-md-9" id="collection-container">
            
        </div>
    </div>
</div>